@media screen and (min-width: 620px) {
	canvas {
		min-height: 25rem;
	}

	.graph {
		width: 50%;
	}

	.graphiques {
		display: flex;
	}

	.card {
		width: calc(50% - var(--gap)/2);
	}

	.card__content {
		min-height: 45rem;
	}
}

@media screen and (min-width: 800px) {

	header,
	main,
	footer {
		flex-direction: row;
	}

	.filtres {
		flex: none;
		width: 300px;
	}

	.graphiques {
		flex-direction: column;
	}

	.graph {
		width: 100%;
	}
}

@media screen and (min-width: 900px) {
	.card {
		width: calc(50% - var(--gap)/2);

	}
}

@media screen and (min-width: 1000px) {
	.details {
		display: flex;
		gap: var(--gap);
	}

	.details details {
		width: calc(50% - var(--gap)/2);
	}
}

@media screen and (min-width: 1200px) {
	.card {
		width: calc(33.33% - (var(--gap)*2)/3);
	}
}