@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    user-select: none;
}

body {
    font-family: sans-serif;
    font-size: 1.6em;
    color: $cl-font;
    text-align: center;
    margin: 0;
}

main {
    width: $width;
    max-width: $max-width;
    margin: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 2.2rem;
    margin: 2rem 0;
}

.font-bold {
    font-weight: bold;
}

.border {
    box-shadow: $shadow;
    border-radius: $rad;
}

.stock,
.rupture {
    padding: 0.5rem;
    border-radius: $rad;
}

.stock {
    background-color: lightgreen;
}

.rupture {
    background-color: $cl-primary;
}

svg {
    width: 3.5rem;
    height: 3.5rem;
    fill: #fff;
    cursor: pointer;
    margin: 0;
}