@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    user-select: none;
}

body {
    font-family: sans-serif;
    font-size: 1.6em;
    color: $cl-font;
    background-color: $cl-white;
    text-align: center;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

input,
textarea,
button,
select,
details,
a {
    -webkit-tap-highlight-color: transparent;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

main {
    width: $width;
    max-width: $max-width;
    margin: 2rem auto;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 2.2rem;
    margin: 2rem 0;
}

.font-bold {
    font-weight: bold;
}

.border {
    box-shadow: $shadow;
    border-radius: $rad;
}

.stock,
.rupture {
    padding: .5rem 1rem;
    border-radius: $rad;
    width: fit-content;
    margin: 2rem auto;
}

.stock {
    border: 1px $cl-accept solid;
    background-color: lighten($cl-accept, 10);
}

.rupture {
    border: 1px $cl-primary solid;
    background-color: $cl-hover;
}

svg {
    width: 2.5rem;
    height: 2.5rem;
    fill: white;
    cursor: pointer;
}

summary {
    text-align: left;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem;
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $cl-hover;
    border-radius: $rad;
    margin-bottom: 1rem;
}

summary::after {
    content: "🛆";
    display: inline-block;
    transition: 0.3s ease-out;
}

details[open] summary::after {
    transform: rotate(-180deg);
}