.cards {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: $gap;
}

.card {
    width: 100%;
    position: relative;
    height: fit-content;

    @include laptop {
        width: calc(50% - ($gap / 2));
    }

    @include laptop-M {
        width: calc(33.33% - (($gap * 2) / 3));
    }

    @include laptop-L {
        width: calc(25% - (($gap * 3) / 4));
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem 1rem;
        transition: .3s;

        @include laptop {
            min-height: 43rem;
        }
    }

    &__img {
        height: 13rem;
        width: calc(100% + 2rem);
        object-fit: cover;
        // object-position: top;
        border-radius: $rad $rad 0 0;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    }

    &__avis {
        background-color: rgb(236, 236, 236);
        border-radius: $rad;
        padding: 1rem 1rem 0rem;
        text-align: left;
    }

    &__new {
        color: black;
        font-weight: 600;
        position: absolute;
        border-radius: $rad 0 $rad 0;
        padding: .5rem;
        left: 0;
    }

    & p {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    &__btn {
        font-weight: 600;
        padding: 1rem .5rem;
    }
}