.form {
    &__alert {
        padding: 1rem;
        border-radius: $rad;
        margin-bottom: 2rem;
    }

    & label {
        display: block;
        margin-bottom: 1rem;
    }

    & input {
        border: $cl-primary 1px solid;
        border-radius: $rad;
        padding: 0.3rem;
        font-size: 1.6rem;
    }
}