.form__alert {
    background-color: $cl-primary;
    font-weight: 600;
    padding: 1rem;
    border-radius: $rad;
    margin-bottom: 2rem;
}

.form label {
    display: block;
    margin-bottom: 1rem;
}

.form input {
    border: $cl-primary 1px solid;
    border-radius: $rad;
    padding: 0.3rem;
    font-size: 1.6rem;
}