.popUp {
    position: fixed;
    z-index: 10;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px $cl-accept solid;
    background-color: lighten($cl-accept, 10);
    padding: 1rem;
    font-size: 2rem;
    width: 27rem;
    display: none;
}