.main__cart {
    min-height: 56vh;

    .cards {
        justify-content: center;
    }

    .card {
        overflow: hidden;

        @include tablette {
            display: flex;
            min-height: 18rem;
            width: 60rem;
        }

        &__img {
            width: 100%;
            object-fit: cover;

            @include tablette {
                width: 42%;
                height: 100%;
            }
        }

        &__body {
            padding: 0 1rem 1rem;
            min-height: auto;

            @include tablette {
                flex: 1;
                padding: 0 2rem 1rem 2rem;
                text-align: left;
            }
        }

        &__quantity {
            width: 4rem;
        }
    }
}