.document {
    max-width: 60rem;
    margin: auto;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;

        @include tablette {
            text-align: left;
            flex-direction: row;

        }
    }

    .bloc__site {
        display: flex;
        align-items: center;

        @include tablette {
            flex-direction: column;
        }

        img {
            margin: 0;
            width: 20rem;
        }
    }
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid $cl-primary;
    text-align: right;
    font-size: clamp(1.4rem, 4vw, 1.6rem);
}

thead th:nth-child(1) {
    text-align: left;
    width: 35%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 30%;
}

tbody th {
    text-align: left;
}

th,
td {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 1rem;
}