.main__product {
    margin-top: 0;
    max-width: 100rem;

    @include tablette {
        display: flex;
        justify-content: space-between;
        gap: 4rem;
    }

    & .product {
        max-width: 40rem;
        margin: 0 auto;

        @include tablette {
            width: 56%;
        }

        &__heading {
            margin: 2rem 0;
            font-size: clamp(2.2rem, 4vw, 3rem);
        }

        &__img-wrapper {
            position: relative;
        }

        &__img {
            height: 18rem;
        }

        &__price {
            font-size: 2.4rem;
            margin: 1.6rem 0;
        }

        &__quantity {
            display: block;
            margin-bottom: 1rem;

            & input {
                border-radius: $rad;
                border: 1px solid $cl-primary;
            }
        }

        &__add {
            padding: 1rem 2rem;
        }

        &__comments {
            text-align: left;
        }
    }

    & .product__info {
        min-width: 20rem;

        @include tablette {
            width: 38%;
        }

        #myChart {
            max-height: 25rem;
        }
    }
}