.main__product {
    max-width: 100rem;

    @include tablette {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 4rem;
    }

    @include laptop-1600 {
        align-items: center;
    }

    & .product {
        margin: 0 auto;
        max-width: 40rem;

        @include tablette {
            width: 56%;
        }

        &__heading {
            margin: 2rem 0;
            font-size: clamp(2.2rem, 4vw, 3rem);
        }

        &__img-wrapper {
            position: relative;
        }

        &__img {
            height: 20rem;
        }

        &__price {
            font-size: 2.6rem;
            margin: 2rem 0;
        }

        &__add {
            padding: 1rem 2rem;
        }

        &__comments {
            text-align: left;
        }
    }

    & .product__info {
        min-width: 20rem;

        @include tablette {
            width: 38%;
        }

        #myChart {
            max-height: 25rem;
        }
    }
}