.main__product {
    max-width: 110rem;
    min-height: 68vh;

    @include tablette {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 4rem;
    }

    & .product__info {
        min-width: 20rem;

        @include tablette {
            width: 38%;
        }

        #myChart {
            max-height: 25rem;
        }
    }
}

.product {
    flex: 1;
    max-width: 50rem;
    padding-bottom: 2rem;

    @include tablette {
        width: 56%;
    }

    &__heading {
        margin: 2rem 0;
        font-size: clamp(2.2rem, 4vw, 3rem);
    }

    &__img-wrapper {
        position: relative;
        max-width: 550px;
        margin: auto;

    }

    &__img {
        width: 100%;
        height: 20rem;
        object-fit: cover;
    }

    &__price {
        font-size: 3rem;
    }


    &__add {
        padding: 1rem;
    }

    &__starts {
        display: block;
    }

    &__comments {
        text-align: left;
    }

    .card__new {
        position: absolute;
        top: 0;
        left: 0;
    }
}