$cl-primary: #ff2a2a;
$cl-hover: lighten($cl-primary, 30%);
$cl-font: #222;
$cl-white: #fff;
$cl-accept: lightgreen;
$shadow: 0px 0px 4px rgb(128, 128, 128);
$rad: 5px;
$gap: 2rem;
$gradient: linear-gradient(165deg, $cl-primary 0%, rgba(0, 0, 0, 1) 19%, $cl-primary 33%, rgba(0, 0, 0, 1) 70%, $cl-primary 88%);
$max-width: 140rem;
$width: 90%;