$cl-primary: #ff2a2a;
$cl-hover: lighten(#ff2a2a, 25%);
$cl-font: #333;
$cl-white: #fff;
$cl-accept: lightgreen;
$shadow: 0px 0px 4px rgb(128, 128, 128);
$rad: 5px;
$gap: 2rem;
$gradient: linear-gradient(165deg, rgba(255, 0, 8, 1) 0%, rgba(0, 0, 0, 1) 19%, rgba(255, 0, 8, 1) 33%, rgba(0, 0, 0, 1) 70%, rgba(255, 0, 8, 1) 88%);
$max-width: 140rem;
$width: 90%;