.footer {
    padding: 1rem 0;
    margin-top: 2rem;
    background: $gradient;
    color: $cl-white;

    .container {
        margin: auto;
        width: $width;
        max-width: $max-width;

        @include tablette {
            display: flex;
        }
    }

    &__img {
        height: 12rem;
        width: 24rem;
        object-fit: cover;
        border-radius: $rad;
    }

    &__heading {
        flex: 1;
        font-family: Courgette, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 4rem;
        margin-bottom: 1.2rem;
    }
}