.footer {
    padding: 1rem 0;
    margin-top: auto;
    background: $gradient;
    color: #fff;

    .container {
        margin: auto;
        width: $width;
        max-width: $max-width;

        @include tablette {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    &__img {
        height: 8rem;
        width: 24rem;
        object-fit: cover;
        border-radius: $rad;
    }

    &__heading {
        flex: 1;
        margin: 0;
        font-family: Courgette, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 3.5rem;
    }

    p {

        width: 100%;
        margin: 0.5rem 0;

        @include tablette {
            text-align: left;
        }
    }
}