.header {
    padding: 1rem 0;
    background: $gradient;
    color: #fff;
    position: sticky;
    top: -135px;
    z-index: 5;

    @include tablette {
        padding: 1rem 0;
        top: 0;
    }

    .container {
        margin: auto;
        width: $width;
        max-width: $max-width;

        @include tablette {
            display: flex;
        }
    }

    &__img {
        display: block;
        height: 12rem;
        width: 24rem;
        border-radius: $rad;
        margin: 0 auto 1rem;

        @include tablette {
            height: 8rem;
            margin: 0;
        }
    }

    &__wrapper {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-between;
    }

    &__heading {
        flex: 1;
        font-family: Courgette, "Helvetica Neue", Helvetica, sans-serif;
        font-size: clamp(3rem, 4vw, 3.8rem);
        margin: 0
    }

    .basket {
        display: flex;
        flex-direction: column;
        cursor: pointer;

        .showTotal {
            margin-top: 1rem;
        }
    }
}